* { margin: 0; padding: 0; }
body {
	font: 0.8125em Georgia, serif;
	line-height: 1;
	color: #333;
	background: #EEE;
}

p {
	font-family: Verdana, sans-serif;
	line-height: 1.8em;
	margin-top: 0.5em;
	margin-bottom: 1.33em;
}

h2, h3, h4 { clear: both; }
h1, h2, h3, h4 {
	margin-top: 1.25em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1em;
}

li { line-height: 1.8em; margin-left: 2em; }
ul li:last-child, ol li:last-child { margin-bottom: 1.33em; }

a { color: #6611BB; }
a:visited { color: #665588; }
a:hover { color: #6655FF; }

div.post, div.heading {
	width: 50em;
	margin: 0 auto;
	margin-bottom: 1.33em;
}

div.post {
	background: white;
	border: 1px solid white;
}

div.post div.content {
	border: 1px solid #EEE;
	display: block;
	padding: 1em 2em;
}

div.post div.content li {
	font-family: Verdana, sans-serif;
}

div.heading h2.post_title {
	float: left;
	margin-left: 1em;
	padding-bottom: 0.33em;
	margin-bottom: 0.33em;
	border-bottom: 1px dotted #CCC;
	width: 91.9%;
}

div.heading h3.post_date {
/*	text-align: right; */
	font-size: 1em;
/*	position: relative;
	top: -1.2em;
	margin-right: 2em;
	color: #CCC; */
	color: #CCC;
	/* new */
	margin-bottom: 1.5em;
	margin-left: 2em;
}
div.heading h3.post_date span:hover {
	color: #333;
}

div.heading ul.post_nav {
	position: relative;
	top: -1em;
	display: block;
	height: 1.8em;
	/* padding-right: 2em; */
	/* new */
	width: 60%;
	float: right;
	position: relative;
	top: -3em;
	left: -2em;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
	margin-bottom: -1em;
}

div.heading ul.post_nav li {
	margin: 0;
	padding: 0;
	width: 33%;
	float: left;
	list-style-type: none;
}
div.heading ul.post_nav li a {
	text-decoration: none;
	color: #CCC;
}
div.heading ul.post_nav li a:hover {
	/* text-decoration: underline; */
	color: #333;
}
div.heading ul.post_nav li#next {
	text-align: left;
}
div.heading ul.post_nav li#next a {
	padding-left: 1em;
}
div.heading ul.post_nav li#archive {
	text-align: center;
	border-left: 1px dotted #CCC;
	border-right: 1px dotted #CCC;
}
div.heading ul.post_nav li#prev {
	text-align: right;
}
div.heading ul.post_nav li#prev a {
	margin-right: 1em;
}

div.post div.caption {
	border: 1px solid #EEE;
	margin-bottom: 1.33em;
	border-bottom: 1px solid #CCC;
}

div.post div.caption p {
	border-top: 1px solid #EEE;
	background: #EEE;
	padding: 0.5em 2em;
	margin: 0;
	font-size: 0.8em;
}

div.post div.caption img, div.post img {
	display: block;
	max-width: 100%;
	margin: 0.5em auto; /* change this later? */
}

div.post img { margin-bottom: 1.33em; }

div.post h3 + div.highlight,
div.post h4 + div.highlight {
	margin-top: 0.5em;
}

div.post div.highlight {
	background: #EEE;
	margin-bottom: 1.33em;
	border: 1px solid #EEE;
}

div.post div.highlight pre {
	font-size: 1em;
	line-height: 1.8em;
	padding: 1em 2em;
	border: 1px solid white;
	overflow: auto;
}

div.post p code, div.post li code {
	padding: 2px;
	background: white;
	border: 1px solid #EEE;
}

div.content > * { margin-top: 0.5em; }

div.post div.content embed {
	max-width: 100%;
	margin-top: 0.5em;
	margin-bottom: 1.33em;
}
