---
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Art&Code</title>
	<link rel="stylesheet" href="/c/screen.css" />
	<link rel="stylesheet" href="/c/syntax.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/j/modernizr.js"></script>
	<script src="/j/Hyphenator.js"></script>
	<script type="text/javascript">
		Hyphenator.run();
	</script>
</head>
<body id="default" class="hyphenate">
	<div class="post">
		<h2 class="post_title"><span>Art &amp; Code</span></h2>
<h3 class="post_date"><span>by Mark</span></h3>

		<div><h3>Posts</h3>
		<ul class="posts">
			{% for post in site.posts %}	
			<li>{{ post.date | date_to_string }}&mdash;<a href="{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul></div>
		<div><h3>Projects</h3>
		<ul class="links">
			<li><a href="https://github.com/markandrus/imgswiss">Pipeline.rb</a></li>
		</ul></div>
		<div><h3>Elsewhere</h3>
		<ul class="links">
			<li><a href="https://github.com/markandrus">Github</a></li>
			<li><a href="http://www.flickr.com/photos/47968118@N08/">Flickr</a></li>
			<li><a href="http://www.youtube.com/markandrusroberts">YouTube</a></li>
		</ul></div>
	</div>
</div>
<!-- scripts -->
<script src="/j/jquery.js"></script>
<script>
	$(function () {
		//var top = $('.posts').offset().top - parseFloat($('.posts').css('margin-top').replace(/auto/, 0));
		var top = 0;
		$(window).scroll(function (event) {
			// what the y position of the scroll is
			var y = $(this).scrollTop();
			// whether that's below the form
			if (y >= top) {
				// if so, ad the fixed class
				$('.posts_wrapper').addClass('fixed');
			} else {
				// otherwise remove it
				$('.posts_wrapper').removeClass('fixed');
			}
		});
	});
</script>
</body>
</html>

