<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/c/screen.css" />
	<link rel="stylesheet" href="/c/syntax.css" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="/j/Hyphenator.js"></script>
	<script type="text/javascript">
		Hyphenator.run();
	</script>
</head>
<body id="post" class="hyphenate">
	<div class="heading">
		<h2 class="post_title"><span>{{ page.title }}</span></h2>
		<h3 class="post_date"><span>{{ page.date | date_to_string }}</span></h3>
		<ul class="post_nav">
			<li id="next"><a href="{{ page.next.url }}">&#8592; Next</a></li>
			<li id="archive"><a href="#">Archive</a></li>
			<li id="prev"><a href="{{ page.previous.url }}">Prev &#8594;</a></li>
		</ul>
	</div>
	<div class="post">
		<div class="content">
		{{ content }}
		</div>
	</div>
<!--	<div class="posts_wrapper">
		<div class="posts">
			<div><h3>Posts</h3>
			<ul class="posts">
				{% for post in site.posts limit:4 %}	
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}	
				<li><a id="more" href="/archive/">More &rarr;</a></li>
			</ul></div>
			<div><h3>Related</h3>
			<ul class="posts">
				{% for post in site.related_posts limit:4 %}	
				<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}	
			</ul></div>
			<div><h3>Projects</h3>
			<ul class="links">
				<li><a href="https://github.com/markandrus/ts">ts</a></li>
				<li><a href="https://github.com/markandrus/imgswiss">Pipeline</a></li>
			</ul></div>
			<div id="bio">
				<h3>Mark</h3>
				<img id="pic" src="https://secure.gravatar.com/avatar/d09ab0a558fd0ffccfc54d53f66ff5a4?s=140&d=https://d3nwyuy0nl342s.cloudfront.net%2Fimages%2Fgravatars%2Fgravatar-140.png" />
				<ul class="links">
					<li><a href="https://github.com/markandrus">GitHub</a></li>
					<li><a href="http://www.flickr.com/photos/47968118@N08/">Flickr</a></li>
					<li><a href="http://www.youtube.com/markandrusroberts">YouTube</a></li>
				</ul>
			</div>
		</div>
	</div>
	-->
<!-- scripts -->
<script src="/j/jquery.js"></script>
<script src="/j/jquery.hoverIntent.js"></script>
<script>
	$(document).ready(function() {
		function nextTitle() {
			var s = '{{ page.next.title}}';
			s = (s == '') ? '{{ page.title }}' : s;
			$('h2.post_title span').fadeTo('slow', 0, function() {
				$('h2.post_title span').text(s).fadeTo('fast', 1);
			});
		}
		function prevTitle() {
			var s = '{{ page.previous.title}}';
			s = (s == '') ? '{{ page.title }}' : s;
			$('h2.post_title span').fadeTo('slow', 0, function() {
				$('h2.post_title span').text(s).fadeTo('fast', 1);
			});
		}
		function pageTitle() {
			$('h2.post_title span').fadeTo('fast', 0, function() {
				$('h2.post_title span').text('{{ page.title }}').fadeTo('fast', 1);
			});
		}
		var nextConfig = { over: nextTitle, interval: 500, out: pageTitle };
		var prevConfig = { over: prevTitle, interval: 500, out: pageTitle };
		$('#next a').hoverIntent(nextConfig);
		$('#prev a').hoverIntent(prevConfig);
	});
	$(function () {
		//var top = $('.posts').offset().top - parseFloat($('.posts').css('margin-top').replace(/auto/, 0));
		var top = 0;
		$(window).scroll(function (event) {
			// what the y position of the scroll is
			var y = $(this).scrollTop();
			// whether that's below the form
			if (y >= top) {
				// if so, ad the fixed class
				$('.posts_wrapper').addClass('fixed');
			} else {
				// otherwise remove it
				$('.posts_wrapper').removeClass('fixed');
			}
		});
	});
</script>
</body>
</html>

